body {
  font-family: 'Mazzard', sans-serif !important;
  background-color: #151517;
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Mazzard', sans-serif !important;
}

.container {
  width: 100%;
  height: 420px;
  position: relative;
}

.chartContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.chartInfo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.chartInfoPrice {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.chartInfoPrice p {
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin: 0;
  font-variant-numeric: lining-nums tabular-nums;
}

.chartInfoPrice span {
  font-size: 14px;
  line-height: 20px;
  font-variant-numeric: lining-nums tabular-nums;
}

.chartInfoVolume {
  font-size: 14px;
  line-height: 20px;
  color: #aaaab2;
  font-variant-numeric: lining-nums tabular-nums;
}

.filter {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 8px;
}

.filterButton {
  height: 24px;
  width: max-content;
  padding: 4px 0;
  font-size: 14px;
  line-height: 20px;
  color: #aaaab2;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  font-variant-numeric: lining-nums tabular-nums;
}

.filterButton.active {
  color: white;
  border-color: rgba(244, 255, 88, 1);
}

.tooltip {
  padding: 6px 8px;
  border-radius: 8px;
  background-color: #242426;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1000;
  pointer-events: none;
}

.tooltip p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: white;
  font-variant-numeric: lining-nums tabular-nums;
  margin: 0;
}

.tooltip span {
  font-size: 12px;
  line-height: 16px;
  color: #aaaab2;
  font-variant-numeric: lining-nums tabular-nums;
}
